# Capstone Merge Data

In [35]:
import pandas as pd
import numpy as np

In [36]:
# Reading Combined(concatinated) Neighbourhood Data in Part 1

In [37]:
LLD_df = pd.read_csv('CS_combinedNeighbourhoodLatLongData.csv')
CD_df = pd.read_csv('CS_CrimeData.csv')
ED_df = pd.read_csv('CS_EmploymentData.csv')
PMD_df = pd.read_csv('CS_Population_Multiple_Data.csv')
RD_df =  pd.read_csv('CS_RecreationData.csv')

In [38]:
PMD_df.head()

,Neighbourhood,Population,Density,Avg Income,Transit_Commuting_Percent,Second_Language_Percent
0,Agincourt,44577,3580,25750,11.1,0.0
1,Alderwood,11656,2360,35239,8.8,0.0
2,Alexandra Park,4355,13609,19687,13.8,0.0
3,Allenby,2513,4333,245592,5.2,0.0
4,Amesbury,17318,4934,27546,16.4,0.0

In [39]:
len(PMD_df['Neighbourhood'].unique().tolist())

171

In [40]:
CD_df.head()

             Neighbourhood  Avg Crime
0                    Yonge      23.07
1  York University Heights      34.02
2                  Lansing      60.13
3                 Yorkdale      43.03
4                Stonegate      37.40

In [41]:
len(CD_df['Neighbourhood'].unique().tolist())

130

In [42]:
# LLD_df
# CD_df
# ED_df
# PMD_df
#LLD - CD  = 53  64
#LLD - ED  = 53  64
#LLD - PMD = 83  94
#CD  - ED  = 137 129
#CD  - PMD = 73  84
#ED  - PMD = 73  84

In [43]:
#tmp = pd.merge(ED_df, PMD_df, on='Neighbourhood', how='inner')
tmp = pd.merge(LLD_df, CD_df, on='Neighbourhood', how='inner')
tmp = pd.merge(tmp, ED_df, on='Neighbourhood', how='inner')
tmp = pd.merge(tmp, PMD_df, on='Neighbourhood', how='inner')
tmp = pd.merge(tmp, RD_df, on='Neighbourhood', how='inner')

len(tmp['Neighbourhood'].unique().tolist())
#tmp.head()

60

In [44]:
len(tmp['Neighbourhood'].unique().tolist())

60

In [45]:
tmp.head()

,Borough,Neighbourhood,Latitude,Longitude,Avg Crime,Employment,Population,Density,Avg Income,Transit_Commuting_Percent,Second_Language_Percent,Recreation Places Count
0,North York,Parkwoods,43.753259,-79.329656,12.27,2995.34,26533,5349,34811,14.0,0.0,2
1,North York,Victoria Village,43.725882,-79.315572,33.62,7520.42,17047,3612,29657,15.6,0.0,4
2,Downtown Toronto,Regent Park,43.654260,-79.360636,23.68,2064.24,10387,16230,19521,16.0,0.0,0
3,Scarborough,Rouge,43.806686,-79.194353,19.00,15187.28,22724,791,29230,12.1,0.0,1
4,Scarborough,Rouge,43.806686,-79.194353,19.00,15187.28,9300,2090,44605,14.1,0.0,1

In [46]:
tmp.shape

(181, 12)

In [47]:
tmp.drop_duplicates(subset = 'Neighbourhood', keep='first', inplace=True)

In [48]:
tmp.shape

(60, 12)

In [49]:
tmp.head()

,Borough,Neighbourhood,Latitude,Longitude,Avg Crime,Employment,Population,Density,Avg Income,Transit_Commuting_Percent,Second_Language_Percent,Recreation Places Count
0,North York,Parkwoods,43.753259,-79.329656,12.27,2995.34,26533,5349,34811,14.0,0.0,2
1,North York,Victoria Village,43.725882,-79.315572,33.62,7520.42,17047,3612,29657,15.6,0.0,4
2,Downtown Toronto,Regent Park,43.654260,-79.360636,23.68,2064.24,10387,16230,19521,16.0,0.0,0
3,Scarborough,Rouge,43.806686,-79.194353,19.00,15187.28,22724,791,29230,12.1,0.0,1
5,Scarborough,Malvern,43.806686,-79.194353,36.48,11943.94,44324,5003,25677,13.6,0.0,1

In [52]:
tmp.to_csv('CS_MERGED_DATA.csv', index=False)