# Toronto Borough and Neighbourhood Latitude Longitude Data Extraction

In [1]:
import pandas as pd

In [1]:
#!conda install --yes beautifulsoup4

In [2]:
#!conda install --yes lxml

In [7]:
from bs4 import BeautifulSoup
import urllib.request as urlreq
import lxml
print('done')

done

In [8]:
with urlreq.urlopen("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M") as response:
    PCC_html = response.read()

In [9]:
#print(PCC_html)

In [10]:
soup = BeautifulSoup(PCC_html, 'html.parser')
#print(soup.prettify())

In [11]:
#soup.table
table = soup.find_all('table')[0] # finding the first table in the html
df = pd.read_html(str(table))[0] # conversion of html to string and then conversion to dataframes
df.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

In [12]:
df_with_borough = df[df['Borough'] != "Not assigned"] #  Ignore cells with a borough that is Not assigned
df_with_borough.head()

  Postcode           Borough     Neighbourhood
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M5A  Downtown Toronto       Regent Park
6      M6A        North York  Lawrence Heights

In [13]:
df_with_borough.reset_index(inplace=True, drop=True)
df_with_borough.head(7)

  Postcode           Borough     Neighbourhood
0      M3A        North York         Parkwoods
1      M4A        North York  Victoria Village
2      M5A  Downtown Toronto      Harbourfront
3      M5A  Downtown Toronto       Regent Park
4      M6A        North York  Lawrence Heights
5      M6A        North York    Lawrence Manor
6      M7A      Queen's Park      Not assigned

In [14]:
df_same_borough_nbr = df_with_borough

#  Ignore cells with a borough that is Not assigned
p = df_same_borough_nbr.loc[df_same_borough_nbr['Neighbourhood'] == "Not assigned"]
p.head(7)

  Postcode       Borough Neighbourhood
6      M7A  Queen's Park  Not assigned

In [15]:
# copying Neighbourhood with Borough that has "Not assigned"
df_same_borough_nbr.iloc[p.index[0]]['Neighbourhood'] = df_same_borough_nbr.iloc[p.index[0]]['Borough']
df_same_borough_nbr.head()

  Postcode           Borough     Neighbourhood
0      M3A        North York         Parkwoods
1      M4A        North York  Victoria Village
2      M5A  Downtown Toronto      Harbourfront
3      M5A  Downtown Toronto       Regent Park
4      M6A        North York  Lawrence Heights

In [16]:
df_same_borough_nbr.describe()

       Postcode    Borough Neighbourhood
count       211        211           211
unique      103         11           209
top         M8Y  Etobicoke     Runnymede
freq          8         45             2

In [17]:
#len(df_same_borough_nbr['Neighbourhood'].unique().tolist())

In [18]:
df_same_borough_nbr.head()

  Postcode           Borough     Neighbourhood
0      M3A        North York         Parkwoods
1      M4A        North York  Victoria Village
2      M5A  Downtown Toronto      Harbourfront
3      M5A  Downtown Toronto       Regent Park
4      M6A        North York  Lawrence Heights

In [19]:
df_same_borough_nbr['Neighbourhood'] = df_same_borough_nbr['Neighbourhood'].str.replace('The', '')
df_same_borough_nbr['Neighbourhood'] = df_same_borough_nbr['Neighbourhood'].str.replace('North', '')
df_same_borough_nbr['Neighbourhood'] = df_same_borough_nbr['Neighbourhood'].str.replace('South', '')
df_same_borough_nbr['Neighbourhood'] = df_same_borough_nbr['Neighbourhood'].str.replace('East', '')
df_same_borough_nbr['Neighbourhood'] = df_same_borough_nbr['Neighbourhood'].str.replace('West', '')
df_same_borough_nbr['Neighbourhood'] = [tmp.strip() for tmp in df_same_borough_nbr['Neighbourhood']]

/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [20]:
df_same_borough_nbr.head()

  Postcode           Borough     Neighbourhood
0      M3A        North York         Parkwoods
1      M4A        North York  Victoria Village
2      M5A  Downtown Toronto      Harbourfront
3      M5A  Downtown Toronto       Regent Park
4      M6A        North York  Lawrence Heights

In [108]:
df_same_borough_nbr.to_csv('CS_combinedNeighbourhoodData.csv', index=False)